* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    justify-content: center;

    & h1 {
        border-bottom: 1px solid gray;
        font-size: 2.5rem;
        margin: 4vh 0;
        text-transform: uppercase;
        text-align: center;

        & span {
            color: rgb(12, 153, 153);
        }
    }
}

main {
    max-width: 800px;
    margin: auto;

    & h2 {
        text-align: center;

        font-size: 2rem;
    }

    & section {
        border-bottom: 1px gray solid;
        padding: 24px;
        font-size: 1.1rem;
        color: rgb(71, 71, 71);

        & h3 {
            font-size: 1.6rem;
            margin-bottom: 2vh;
            color: black;
        }

        & p {
            margin: 2vh 0;
        }

        & ul {
            margin: 1vh 0;
            margin-left: 30px;

            & li {
                margin: 4px 0;
            }
        }

        & a {
            text-decoration: none;
            color: rgb(12, 153, 153);
            font-weight: 700;

        }

        & a:hover {
            color: rgb(37, 201, 201);
        }

        & img {
            max-width: 100%;
        }
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2vh 0;
    gap: 4px;
}

.devs {
    background: #d8d8d8;
    padding: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.deploy {
    border: 1px solid gray;
    margin: 2vh 0;
    border-radius: 15px;
    padding: 6px;
}

.space {
    height: 150px;
}

@media screen and (max-width: 600px) {
    main {
        & h2 {
            font-size: 1.4rem;
        }

        & section {
            font-size: .9rem;
            padding: 8px;

            & h3 {
                font-size: 1.1rem;
            }

            & p {
                margin: 1vh 0;
            }
        }
    }

    header {
        & h1 {
            font-size: 1.8rem;
        }
    }
}